.app-wrapper {
    display: grid;

    grid-template-areas: 
    "h h"
    "n c";

    grid-template-rows: 40px 1fr;
    grid-template-columns: 2fr 10fr;
    
}

.header {
    grid-area: h;
    background-color: aquamarine;
}

.header img {
    width: 50px;
}

.nav {
    grid-area: n;
    background-color: aqua;
}

.content {
    grid-area: c;
    background-color: bisque;
}